@import 'variables';

.advantages__title {
  font-size: 30px;
  line-height: 1;
  color: #605447;
  font-weight: 700;

  // @include max-lg {
  //   font-size: 24px;
  // }
}

.advantage-card {
  border-radius: calc(4em / 16);
  background-image: linear-gradient(45deg, #edf1fd 0%, #f9edfb 100%);
  padding: calc(16em / 16) calc(12em / 16) calc(28em / 16);

  @include max-xl {
    font-size: 90%;
  }
}

.advantage-card__media {
  position: relative;
  height: calc(80em / 16);
  margin-bottom: calc(19em / 16);
}

.advantage-card__media-icon {
  position: absolute;
  top: 0;
  right: calc(4em / 16);
  width: calc(80em / 16);
  height: calc(80em / 16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-card__media-map {
  background: url('../images/advantage-map.png') no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  right: calc(-12em / 16);
  top: calc(-16em / 16);
  width: calc(102em / 16);
  height: calc(194em / 16);
  mix-blend-mode: multiply;
}

.advantage-card__media-circle {
  position: absolute;
  right: calc(8em / 16);
  top: calc(4em / 16);
  width: calc(80em / 16);
  height: calc(80em / 16);
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 calc(12em / 16) #fff, 0 0 6px #fff;
}

.advantage-card__media-check {
  width: calc(116em / 16);
  height: calc(70em / 16);
  background: url('../images/advantage-check.png') no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  left: calc(3em / 16);
  top: calc(14em / 16);
}

.advantage-card__media-text {
  position: absolute;
  top: calc(30em / 24);
  right: calc(19em / 24);
  display: flex;
  flex-direction: column;
  font-size: calc(24em / 16);
  line-height: calc(28em / 24);
  color: #c18759;
  font-weight: 700;
  text-align: right;
  span {
    font-size: calc(52em / 24);
  }
}

.advantage-card__title {
  font-size: calc(14em / 16);
  line-height: calc(16em / 14);
  min-height: calc(32em / 14);
  color: #000000;
  font-weight: 500;
  margin-bottom: calc(28em / 14);
  position: relative;
}

.advantage-card__desc {
  font-size: calc(12em / 16);
  line-height: calc(18em / 12);
  color: #666666;
  position: relative;
  max-width: calc(136em / 12);

  @include max-lg {
    max-width: 100%;
  }
}
