@import 'variables';

.contacts-phone {
  display: flex;
  gap: 14px;
  align-items: center;
}

.contacts-phone__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
  color: #605447;
  background-image: linear-gradient(0, rgb(247, 245, 121) 0%, rgb(251, 210, 124) 100%);
}

.contacts-phone__text {
  gap: 10px;
  display: flex;
  align-items: center;
}

.contacts-phone__value {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  line-height: 24px;

  @include max-md {
    font-size: 16px;
  }
}

.contacts-phone__desc {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}

.contacts-address {
  display: flex;
  gap: 14px;
  align-items: center;
}

.contacts-address__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 50%;
  color: #605447;
  background-image: linear-gradient(0, rgb(247, 245, 121) 0%, rgb(251, 210, 124) 100%);
}

.contacts-address__text {
  font-size: 16px;
  color: #000000;
  font-weight: 300;
  line-height: 18px;
  padding: 8px 0;

  span {
    color: #999999;
  }

  @include max-md {
    font-size: 14px;
    line-height: 16px;
  }
}

.contacts-additional {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
  gap: 20px;
}

.contacts-additional__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-additional__item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4bc199;
}

.contacts-additional__item-value {
  font-size: 16px;
  color: #000000;
}

.contacts-social {
  display: flex;
  align-items: center;
  gap: 20px;

  @include max-md {
    gap: 12px;
  }
}

.contacts-social__title {
  font-size: 16px;
  line-height: 1;
  color: #000000;

  @include max-md {
    font-size: 14px;
  }
}

.contacts-social__items {
  display: flex;
  align-items: center;
  gap: 20px;

  @include max-md {
    gap: 4px;
  }
}

.contacts-social__item {
  display: flex;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include max-md {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

.contacts-social__item-vk {
  background-image: url('../images/social-vk.png');
}

.contacts-social__item-rutube {
  background-image: url('../images/social-rutube.png');
}

.contacts-social__item-ok {
  background-image: url('../images/social-ok.png');
}

.contacts-feedback {
  background: #f1f1fd url('../images/contacts-form-icons.png') no-repeat 164px 0px;
  border-radius: 24px;
  display: flex;
  padding: 52px 64px 48px 44px;
  gap: 64px;

  @include max-lg {
    padding: 36px;
    flex-direction: column;
    gap: 36px;
  }
  @include max-md {
    padding: 32px 20px;
  }
}

.contacts-feedback__headline {
  width: 320px;
  flex-shrink: 0;
  max-width: 100%;
}

.contacts-feedback__headline-title {
  font-size: 30px;
  line-height: 48px;
  color: #000000;
  font-weight: 500;

  @include max-lg {
    font-size: 24px;
    line-height: 1.25;
  }
}

.contacts-feedback__headline-desc {
  opacity: 0.569;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-top: 22px;

  @include max-lg {
    margin-top: 12px;
  }
}

.contacts-feedback__form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 16px;
  margin: 24px 0 0 0;

  @include max-lg {
    margin-top: 0;
  }
}

.contacts-feedback__form-name {
}

.contacts-feedback__form-phone {
}

.contacts-feedback__form-message {
  grid-column: span 2 / span 2;
}

.contacts-feedback__form-submit {
  grid-column: span 2 / span 2;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  @include max-md {
    padding: 12px 0;
  }
}

.contacts-feedback__submit {
  font-size: 16px;
  line-height: 64px;
  white-space: nowrap;
  color: #605447;
  font-weight: 700;
  text-align: center;
  padding: 0 24px;
  border: none;
  width: 260px;
  border-radius: 32px;
  background-image: linear-gradient(0deg, #f7f579, #fbd17b);
  transition: 0.3s ease;

  &:not([disabled]):hover {
    box-shadow: 0 0 0 2px #fdc834, 0.939px 5.926px 7px 2px #ffbd004d;
    background-image: linear-gradient(0deg, #fff559, #ffd541);
  }
  &[disabled] {
    box-shadow: 0 0 0 2px hsl(212.7 26.8% 83.9%);
    background-image: linear-gradient(0deg, hsl(214.3 31.8% 91.4%), hsl(212.7 26.8% 83.9%));
  }
}

.contacts-feedback__form-rules {
  grid-column: span 2 / span 2;
}

.contacts-feedback__messages {
  grid-column: span 2 / span 2;
  background: hsl(210 40% 98%);
  color: hsl(215.3 19.3% 34.5%);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid hsl(214.3 31.8% 91.4%);
  [data-feedack-form-status='failure'] & {
    border-color: hsl(352.7 96.1% 90%);
    background: hsl(355.7 100% 97.3%);
    color: hsl(346.8 77.2% 49.8%);
  }
  [data-feedack-form-status='success'] & {
    border-color: hsl(152.4 76% 80.4%);
    background: hsl(151.8 81% 95.9%);
    color: hsl(161.4 93.5% 30.4%);
  }
  &:empty {
    display: none;
  }
}

.feedback-rules {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.feedback-rules__input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.feedback-rules__check {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  background: #fff;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.feedback-rules__input:checked + .feedback-rules__check::before {
  content: '';
  width: 12px;
  height: 7px;
  border-left: 3px solid #46bda1;
  border-bottom: 3px solid #46bda1;
  transform: rotate(-45deg);
  margin-top: -3px;
  margin-left: 1px;
}

.feedback-rules__text {
  font-size: 12px;
  color: rgba(64, 64, 64, 0.78);
  line-height: 14px;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: rgba(64, 64, 64, 1);
    }
  }
}

.contacts-feedback__input {
  height: 43px;
  border-radius: 2px;
  filter: drop-shadow(0px 3px 6.5px rgba(133, 133, 189, 0.17));
  background-color: #ffffff;
  width: 100%;
  display: block;
  padding: 0 12px;
  font-size: 16px;
  color: #000;
}

.contacts-feedback__label {
  display: block;
  font-size: 14px;
  line-height: 72px;
  color: #666666;
  line-height: 20px;
}

.contacts-feedback__textarea {
  border-radius: 2px;
  filter: drop-shadow(0px 3px 6.5px rgba(133, 133, 189, 0.17));
  background-color: #ffffff;
  width: 100%;
  display: block;
  padding: 12px;
  font-size: 16px;
  color: #000;
}
