@import 'variables';

.fs-modal {
  display: none;

  &.is-open {
    display: block;
  }
  &[aria-hidden='false'] .fs-modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &[aria-hidden='false'] .fs-modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &[aria-hidden='true'] .fs-modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  &[aria-hidden='true'] .fs-modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.fs-modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  right: -32px;
  top: -32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  line-height: 1;
  font-size: 18px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  &::before {
    content: '\2715';
  }
  &:hover {
    background: #32333d;
  }
}

.fs-modal__overlay {
  will-change: transform;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0009;
  overflow: hidden;
  padding: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-modal__container {
  will-change: transform;
  max-width: 100%;
  max-height: 100%;
  width: 1480px;
  display: flex;
  gap: 12px;
  position: relative;
  // .fs-modal-video & {
  //   width: 872px;
  // }
  &:has(.fs-modal-carousel__side) {
    width: 1600px;
  }
}

.fs-modal__content {
  flex-grow: 1;
  border-radius: 12px;
  padding: 36px;
  background-color: rgba(255, 255, 255, 0.851);
  position: relative;
  min-width: 0;
  max-width: 100%;
}

.fs-modal__side {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.851);
  width: 340px;
  padding: 40px;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes mmslideOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.fs-modal-carousel {
  --carousel-gap: 36px;
  --carousel-columns: 1;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.fs-modal-carousel__container {
  display: flex;
  grid-column-gap: var(--carousel-gap);
  height: 100%;
}

.fs-modal-carousel__slide {
  flex: 0 0
    calc(
      100% / var(--carousel-columns) -
        (var(--carousel-gap) * (var(--carousel-columns) - 1) / var(--carousel-columns))
    );
  min-width: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-modal-carousel__slide img {
  display: block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.fs-modal-carousel__slide iframe {
  max-height: 100%;
  max-width: 100%;
}

.fs-modal-carousel-prev {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -27px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.902);
  color: #b2b8c2;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #464646;
  }
}

.fs-modal-carousel-prev::before {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: 4px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  display: block;
}

.fs-modal-carousel-next {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -27px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.902);
  color: #b2b8c2;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #464646;
  }
}

.fs-modal-carousel-next::before {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
  display: block;
}
