@import 'variables';

.category-headline {
  display: flex;
  align-items: center;
  gap: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f5fa;
}

.category-headline__title {
  font-size: 30px;
  line-height: 1;
  color: #605447;
  font-weight: 700;
}

.category-headline__all {
  font-size: 10px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #a1a2a5;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
}

.category-headline__all span {
  width: 32px;
  height: 32px;
  border: 2px solid #ebebeb;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}

.category-headline__all span::after {
  content: '';
  width: 6px;
  height: 6px;
  border-right: 2px solid #a2a3a6;
  border-bottom: 2px solid #a2a3a6;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0% 0%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.category-headline__all:hover {
  color: #b56446;
}

.category-headline__all:hover span {
  border-color: #b56446;
}

.category-headline__all:hover span::after {
  border-color: #b56446;
}

.category-all {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.category-all__button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;
  color: #666666;
  font-weight: 700;
  width: 260px;
  height: 58px;
  border-radius: 29px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #eaeaea;
  &:hover {
    background-image: linear-gradient(0deg, #f7f579 0%, #fbd17b 100%);
    border: 2px solid #fbd17c;
    color: #333333;
  }
}

.project-card {
  position: relative;
  padding: calc(20em / 16);
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  @include max-xl {
    font-size: 90%;
  }
}

.project-card__image {
  display: flex;
  margin: 0;
  position: relative;
}

.project-card__title {
  font-size: calc(14em / 16);
  text-transform: uppercase;
  color: #010101;
  font-weight: 700;
  margin-top: calc(12em / 14);
}

.project-card__area {
  display: flex;
  align-items: baseline;
  gap: calc(8em / 16);
}

.project-card__area-label {
  font-size: calc(12em / 16);
  text-transform: uppercase;
  color: #666666;
}

.project-card__area-value {
  font-size: calc(18em / 16);
  color: #666666;
  
  span {
    font-size: calc(14em / 18);
  }

  // @include max-xl {
  //   font-size: 16px;
  // }
}

.project-card__price {
  position: relative;
}

.project-card__price-old {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(12em / 16);
  text-decoration: line-through;
  color: #666666;
  line-height: 1;
  margin-bottom: calc(4em / 12);
}

.project-card__price-current {
  font-size: calc(30em / 16);
  letter-spacing: 0.025em;
  color: #ada395;
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: baseline;
  gap: calc(4em / 30);
  
  span {
    color: #000;
    font-size: calc(16em / 30);
  }

  // @include max-xl {
  //   font-size: 24px;
  // }
}

.project-card__order {
  position: relative;
  z-index: 20;
  font-size: calc(15em / 16);
  letter-spacing: 0.1em;
  line-height: calc(30em / 15);
  text-transform: uppercase;
  color: #4e4528;
  font-weight: 700;
  padding: 0 calc(24em / 15);
  white-space: nowrap;
  height: calc(40em / 15);
  border-radius: calc(20em / 15);
  box-shadow: 0px calc(3em / 15) calc(7em / 15) rgba(255, 189, 0, 0.2);
  background-color: #ffd251;
  border: 1px solid #f7c73e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;

  &:hover {
    background-color: #fed30c;
    border-color: #fdc834;
    color: #000000;
  }

  // @include max-xl {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

.project-card__details {
  display: inline-block;
  font-size: calc(12em / 16);
  color: #666666;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    color: #333333;
  }
}

.project-card__details::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
